## This file is used to ignore some files while developing.
## See also exclude.txt.

# Compiled scripts
*.pyc
__pycache__

# Compiled assets
OutdoorsBase_flowers.blend
OutdoorsBase_grass.blend

# IDE metadata
.metadata
.project
.pydevproject

# Blender backups
*.blend?

# Game data
*.bgeconf*

*~
build
