# Compiled scripts
*.pyc

# Compiled assets
OutdoorsBase_flowers.blend
OutdoorsBase_grass.blend

# IDE metadata
.metadata
.project
.pydevproject

# Blender backups
*.blend?

# Game data
*.bgeconf

*~
